
/* google font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Josefin+Sans&display=swap');


body{
    font-family: 'Inter', sans-serif;
}




.best-price-background{
    background-color: #990099;
    color: #FFFFFF;
    border-radius: 25px;
    position: relative;
}
.hot-price-legend{
    background-color: #FF9900;
    color: #003366;
    border-radius: 25px;
    display: inline;
    padding: 2px 20px;
    position: absolute;
    top: -12px;
    right: 30px;
}
.extra-margin-package{
    margin-top: 45px;
}